*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    height: 100vh;
    width: 100%;
    background:linear-gradient(#0f2027 , #203a43,#2c5364);
}
#modelbox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 400px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    display: none;
    
}
.modeltext{
    margin: 20px 40px 40px 40px;
    font-size: 15px;
    line-height: 25px;

}
.modeltext h2{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}
.modeltext small{
    color: rgb(163, 38, 38);
    margin-top:10px ;
    font-weight: 600;
    display: inline-block;
}
.modeltext p{
    line-height: 18px;
    font-weight: 100;
    margin-bottom: 20px;
}
.modeltext form{
    
    display: flex;
    background: #efefef;
    border-radius: 4px;
    margin: 10px 12 15px 18px;
}
.modeltext form input{
    flex: 1;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 12px 10px;
}
.modeltext form button{
    background: rgb(217, 71, 71);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 0 15px;
    cursor: pointer;

}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
}